In [360]:
import pandas as pd
import os
import openpyxl

# Path to your Excel file
current_directory = os.getcwd()
file_path = current_directory + '/current_learning_objectives_raw_data.xlsx'

In [361]:
file_path

'/Users/zsk4gm/Desktop/zsk4gm_DS5111su24_lab_02/current_learning_objectives_raw_data.xlsx'

# Courses

In [396]:
# Read the tech_bootcamp sheet,
courses_df = pd.read_excel(file_path, sheet_name='other_data_raw')

In [397]:
# Set the second row as the header
courses_df.columns = courses_df.iloc[2]

# Drop the first two rows
courses_df = courses_df.drop([0, 1, 2]).reset_index(drop=True)

In [398]:
courses_df = courses_df[:17]

In [399]:
courses_df.head()

2,mnemonic,name,description_short,active
0,ds_biz_anaytics,Business Analytics for Data Scientists,Focuses on the application of data science to ...,True
1,ds_tech_bootcamp,Technical Bootcamp,Bootcamp for new online MSDS students,True
2,ds5001,Exploratory Text Analytics,Introduction to text analytics with a focus on...,True
3,ds5012,Foundations of Computer Science,"A foundation in discrete mathematics, data str...",True
4,ds5100,Programming for Data Science,Programming essentials for data science: Pytho...,True

In [400]:
# Rename columns to match the Courses schema
courses_df = courses_df.rename(columns={
    'mnemonic': 'CourseMnemonic',
    'name': 'CourseName',
    'description_short': 'CourseDescription',
    'active': 'IsActive'
})

# Reorder columns to match the Courses schema
courses_df = courses_df[['CourseMnemonic', 'CourseName', 'CourseDescription', 'IsActive']]

In [401]:
# Fix the typo
courses_df['CourseMnemonic'] = courses_df['CourseMnemonic'].replace('ds_biz_anaytics', 'ds_biz_analytics')

In [404]:
# Rename 'ds5012' to 'cs5012' in the CourseMnemonic column
courses_df['CourseMnemonic'] = courses_df['CourseMnemonic'].replace('ds5012', 'cs5012')

In [407]:
courses_df_ready = courses_df

In [408]:
courses_df

2,CourseMnemonic,CourseName,CourseDescription,IsActive
0,ds_biz_analytics,Business Analytics for Data Scientists,Focuses on the application of data science to ...,True
1,ds_tech_bootcamp,Technical Bootcamp,Bootcamp for new online MSDS students,True
2,ds5001,Exploratory Text Analytics,Introduction to text analytics with a focus on...,True
3,cs5012,Foundations of Computer Science,"A foundation in discrete mathematics, data str...",True
4,ds5100,Programming for Data Science,Programming essentials for data science: Pytho...,True
5,ds5110,Big Data Systems,Use Spark for large-scale analytics and machin...,True
6,ds6001,Practice and Application of Data Science,"Build skills to acquire, clean, analyze, under...",True
7,ds6002,Big Data Ethics,Examines the ethical issues arising around big...,True
8,ds6011,Data Science Capstone Project Work I,Data science capstone part 1,True
9,ds6013,Data Science Capstone Project Work II,Data science capstone part 2,True
10,ds6030,Statistical Learning,Fundamentals of data mining and machine learni...,True
11,ds6040,Bayesian Machine Learning,Build Bayesian models to provide predictions a...,True
12,ds6050,Deep Learning,Deep learning fundamentals and applications,True
13,sarc5400,Data Visualization,Teaches visual and spatial thinking coupled wi...,True
14,stat6021,Linear Models for Data Science,An introduction to linear statistical models i...,True
15,ds6003,Practice and Application of Data Science Part 2,Practitioner seminar,False
16,ds6012,Big Data Ethics Part 2,Examines the ethical issues arising around big...,False

# Create a mapping dictionary from CourseMneumonic to CourseID
mnemonic_to_id = dict(zip(courses_df['CourseMneumonic'].str.strip().str.lower(), courses_df['CourseID']))

# Print the mapping dictionary for inspection
print("Mapping Dictionary:\n", mnemonic_to_id)

# Learning Outcomes

In [409]:
# Read the tech_bootcamp sheet
bayesian_df = pd.read_excel(file_path, sheet_name='6040')

# Set the second row as the header
bayesian_df.columns = bayesian_df.iloc[2]

# Drop the first two rows
bayesian_df = bayesian_df.drop([0, 1, 2]).reset_index(drop=True)

# Display the cleaned DataFrame
print("Cleaned bayesian DataFrame:")
display(bayesian_df.head())

Cleaned bayesian DataFrame:

2 MNEMONIC                                   LEARNING OUTCOME
0   ds6040                                 Probability review
1   ds6040  Use the elements of Bayes theorem in problem s...
2   ds6040  Use univariate conjugate priors to analyticall...
3   ds6040  Use multivariate conjugate priors to analytica...
4   ds6040  Use non-informative priors to analytically obt...

In [410]:
# Read the tech_bootcamp sheet
tech_bootcamp_df = pd.read_excel(file_path, sheet_name='tech_bootcamp')

# Set the second row as the header
tech_bootcamp_df.columns = tech_bootcamp_df.iloc[0]

# Drop the first two rows
tech_bootcamp_df = tech_bootcamp_df.drop([0]).reset_index(drop=True)

# Display the cleaned DataFrame
print("Cleaned tech_bootcamp DataFrame:")
display(tech_bootcamp_df.head())

Cleaned tech_bootcamp DataFrame:

0          MNEMONIC                                   LEARNING OUTCOME
0  ds_tech_bootcamp  Research documentation on your own as a first ...
1  ds_tech_bootcamp              Describe the components of a computer
2  ds_tech_bootcamp  Explain the scales of computational power and ...
3  ds_tech_bootcamp  Differentiate between Windows, MacOS ,and Linu...
4  ds_tech_bootcamp  Compare Command Line (CLI) and Graphical User ...

In [411]:
# Define the course sheets
course_sheets = ['5001', '5012', '5100', '5110', '6001', '6002', '6003', '6011', '6012', '6013', '6021', '6030', '6050', 'biz_analytics']

# Function to clean a single sheet
def clean_dataframe(file_path, sheet_name):
    df = pd.read_excel(file_path, sheet_name=sheet_name)
    df.columns = df.iloc[1]
    df = df.drop([0, 1]).reset_index(drop=True)
    return df

# Read and clean the course sheets
dfs = {sheet: clean_dataframe(file_path, sheet) for sheet in course_sheets}

# Ensure that the columns are correctly named
for sheet_name, df in dfs.items():
    df.columns = df.columns.str.strip()

In [412]:
# Initialize lists to store the mnemonics and learning outcomes
mnemonics = []
learning_outcomes = []

# Extract mnemonics and learning outcomes from each dataframe
for sheet_name, df in dfs.items():
    mnemonics.extend(df['MNEMONIC'])
    learning_outcomes.extend(df['LEARNING OUTCOME'])

mnemonics.extend(tech_bootcamp_df['MNEMONIC'])
learning_outcomes.extend(tech_bootcamp_df['LEARNING OUTCOME'])

mnemonics.extend(bayesian_df['MNEMONIC'])
learning_outcomes.extend(bayesian_df['LEARNING OUTCOME'])


# Create a new dataframe with the combined data
combined_df = pd.DataFrame({
    'MNEMONIC': mnemonics,
    'LEARNING OUTCOME': learning_outcomes
})

# Add the isactive column and set all values to True
combined_df['IsActive'] = True

# Map CourseMneumonic to CourseID in Learning Outcomes
combined_df['CourseID'] = combined_df['MNEMONIC'].map(mnemonic_to_id)

# Drop the old MNEMONIC column
combined_df = combineddf.drop(columns=['MNEMONIC'])

# Sort by CourseID
combined_df = combined_df.sort_values(by='CourseID').reset_index(drop=True)

In [413]:
# Rename columns to match the Courses schema
combined_df = combined_df.rename(columns={
    'MNEMONIC': 'CourseMnemonic',
    'LEARNING OUTCOME': 'OutcomeDescription',
    'IsActive': 'IsActive',
})


# Reorder columns to match the Courses schema
combined_df = combined_df[['CourseMnemonic', 'OutcomeDescription', 'IsActive']]

In [378]:
outcome_df_ready = combined_df
outcome_df_ready

,CourseMnemonic,OutcomeDescription,IsActive
0,ds5001,Understand and use language models such as bag...,True
1,ds5001,Understand and use vector space models,True
2,ds5001,Understand how to measure similarity between d...,True
3,ds5001,Understand how Principal Component Analysis (P...,True
4,ds5001,Understand and use topic models such as Latent...,True
...,...,...,...
225,ds6040,Apply Markov random field models to represent ...,True
226,ds6040,Formulate Hidden Markov Model (HMM) solution s...,True
227,ds6040,Apply HMMs to problems in data science,True
228,ds6040,Identify the range of applicability of methods...,True
229,ds6040,Connect the many concepts discussed in the cou...,True

# Instructors

In [379]:
# Read the tech_bootcamp sheet
instructors_df = pd.read_excel(file_path, sheet_name='other_data_raw')

In [380]:
# Set the second row as the header
instructors_df.columns = instructors_df.iloc[29]

# Drop the first two rows
instructors_df = instructors_df.drop(range(30)).reset_index(drop=True)

In [414]:
# Function to split names
def split_names(names):
    if pd.isna(names):
        return []
    # Split by ',' or '&' and strip whitespace
    names = [name.strip() for name in names.replace('&', ',').split(',')]
    return names

all_names = [name for names in instructors_df.iloc[:, 0].apply(split_names) for name in names]

# Create a new DataFrame with each name in a separate row
cleaned_df = pd.DataFrame(all_names, columns=['InstructorName'])

# Remove duplicates
cleaned_df = cleaned_df.drop_duplicates()

# Add the 'IsActive' column based on the condition
cleaned_df['IsActive'] = ~cleaned_df['InstructorName'].isin(['Jeremy Bolton', 'Luis Felipe Rosado Murillo'])

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
instructors_df_ready = cleaned_df
instructors_df_ready

Cleaned DataFrame:

                InstructorName  IsActive
0                  Pete Alonzi      True
1                  Jeffrey Woo      True
2                     Judy Fox      True
3                Jeremy Bolton     False
4                 Bill Basener      True
5                Marc Ruggiano      True
6                 Adam Tashman      True
7             Sree Mallikarjun      True
8                 Eric Tassone      True
10                Peter Gedeck      True
12            Abbas Kazemipour      True
13              Cait Dreisbach      True
14                     Lei Xie      True
16              Renee Cummings      True
17                Stephen Baek      True
18                Raf Alvarado      True
19                Teague Henry      True
20                 Rich Nguyen      True
21                  Jon Kropko      True
22                  Nada Basit      True
23     Panagiotis Apostolellis      True
24                 Mike Porter      True
25  Luis Felipe Rosado Murillo     False
26            Jason Williamson      True
27                  Eric Field      True

# Assignments

In [415]:
# Read the tech_bootcamp sheet
assignments_df = pd.read_excel(file_path, sheet_name='assigned_raw')

# Set the second row as the header
assignments_df.columns = assignments_df.iloc[1]

# Drop the first two rows
assignments_df = assignments_df.drop([0, 1]).reset_index(drop=True)

In [416]:
# Extract Fall2021 DataFrame
fall2021_df = assignments_df.iloc[:, [0, 1, 2]]
fall2021_df['term'] = 'fall2021'
fall2021_df = fall2021_df.iloc[:-2].reset_index(drop=True)
fall2021_df = fall2021_df.iloc[:, [i for i in range(fall2021_df.shape[1]) if i != 1]]
fall2021_df = fall2021_df.rename(columns={fall2021_df.columns[0]: 'CourseMnemonic',
                                         fall2021_df.columns[1]: 'InstructorName', 
                                         fall2021_df.columns[2]: 'Term'})

/var/folders/rv/jjx4y3wx623f6kql6mrbtrfw0000gp/T/ipykernel_76100/1025170396.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fall2021_df['term'] = 'fall2021'

In [417]:
# Extract Summer2021 DataFrame
summer2021_df = assignments_df.iloc[:, [4, 5, 6]]
summer2021_df['term'] = 'summer2021'
summer2021_df = summer2021_df.iloc[:-1].reset_index(drop=True)
summer2021_df = summer2021_df.drop(summer2021_df.columns[1], axis=1)
summer2021_df = summer2021_df.rename(columns={summer2021_df.columns[0]: 'CourseMnemonic',
                                         summer2021_df.columns[1]: 'InstructorName', 
                                         summer2021_df.columns[2]: 'Term'})


# Extract Spring2021 DataFrame
spring2021_df = assignments_df.iloc[:, [8, 9, 10]]
spring2021_df['term'] = 'spring2021'
spring2021_df = spring2021_df.drop(spring2021_df.columns[1], axis=1)
spring2021_df = spring2021_df.rename(columns={spring2021_df.columns[0]: 'CourseMnemonic',
                                         spring2021_df.columns[1]: 'InstructorName', 
                                         spring2021_df.columns[2]: 'Term'})

/var/folders/rv/jjx4y3wx623f6kql6mrbtrfw0000gp/T/ipykernel_76100/1252648664.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summer2021_df['term'] = 'summer2021'
/var/folders/rv/jjx4y3wx623f6kql6mrbtrfw0000gp/T/ipykernel_76100/1252648664.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spring2021_df['term'] = 'spring2021'

In [418]:
spring2021_df

1     CourseMnemonic              InstructorName        Term
0   ds_tech_bootcamp                 Pete Alonzi  spring2021
1           stat6021                 Jeffrey Woo  spring2021
2             ds5100                    Judy Fox  spring2021
3             cs5012     Panagiotis Apostolellis  spring2021
4             ds6030                 Mike Porter  spring2021
5             ds5110                Adam Tashman  spring2021
6             ds5001            Sree Mallikarjun  spring2021
7             ds6001                  Jon Kropko  spring2021
8             ds6011                  Jon Kropko  spring2021
9             ds6040                Bill Basener  spring2021
10            ds6002  Luis Felipe Rosado Murillo  spring2021
11            ds6050                 Rich Nguyen  spring2021
12            ds6013                Raf Alvarado  spring2021
13            ds6003            Jason Williamson  spring2021
14            ds6012  Luis Felipe Rosado Murillo  spring2021
15          sarc5400                  Eric Field  spring2021

In [419]:
fall2021_df

1,CourseMnemonic,InstructorName,Term
0,ds_tech_bootcamp,Pete Alonzi,fall2021
1,stat6021,Jeffrey Woo,fall2021
2,ds5100,Judy Fox,fall2021
3,cs5012,Jeremy Bolton,fall2021
4,ds6030,Bill Basener,fall2021
5,ds_biz_analytics,Marc Ruggiano,fall2021
6,ds5110,Adam Tashman,fall2021
7,ds5001,Sree Mallikarjun,fall2021
8,ds6001,Eric Tassone,fall2021
9,ds6011,"Jeremy Bolton, Peter Gedeck, Eric Tassone, Abb...",fall2021
10,ds6040,Bill Basener,fall2021
11,ds6002,Renee Cummings,fall2021
12,ds6050,Stephen Baek,fall2021
13,ds6013,Raf Alvarado & Teague Henry,fall2021

In [420]:
spring2021_df

1     CourseMnemonic              InstructorName        Term
0   ds_tech_bootcamp                 Pete Alonzi  spring2021
1           stat6021                 Jeffrey Woo  spring2021
2             ds5100                    Judy Fox  spring2021
3             cs5012     Panagiotis Apostolellis  spring2021
4             ds6030                 Mike Porter  spring2021
5             ds5110                Adam Tashman  spring2021
6             ds5001            Sree Mallikarjun  spring2021
7             ds6001                  Jon Kropko  spring2021
8             ds6011                  Jon Kropko  spring2021
9             ds6040                Bill Basener  spring2021
10            ds6002  Luis Felipe Rosado Murillo  spring2021
11            ds6050                 Rich Nguyen  spring2021
12            ds6013                Raf Alvarado  spring2021
13            ds6003            Jason Williamson  spring2021
14            ds6012  Luis Felipe Rosado Murillo  spring2021
15          sarc5400                  Eric Field  spring2021

In [421]:
assignments_df = pd.concat([spring2021_df, summer2021_df, fall2021_df], ignore_index=True)

In [422]:
assignments_df['AssignmentID'] = range(1, len(assignments_df) + 1)

In [423]:
assignments_df_ready = assignments_df.drop(assignments_df.columns[1], axis=1)
# Reorder columns 
assignments_df_ready = assignments_df_ready[['AssignmentID', 'CourseMnemonic', 'Term']]

In [424]:
assignments_df_ready

1   AssignmentID    CourseMnemonic        Term
0              1  ds_tech_bootcamp  spring2021
1              2          stat6021  spring2021
2              3            ds5100  spring2021
3              4            cs5012  spring2021
4              5            ds6030  spring2021
5              6            ds5110  spring2021
6              7            ds5001  spring2021
7              8            ds6001  spring2021
8              9            ds6011  spring2021
9             10            ds6040  spring2021
10            11            ds6002  spring2021
11            12            ds6050  spring2021
12            13            ds6013  spring2021
13            14            ds6003  spring2021
14            15            ds6012  spring2021
15            16          sarc5400  spring2021
16            17  ds_tech_bootcamp  summer2021
17            18          stat6021  summer2021
18            19            ds5100  summer2021
19            20            cs5012  summer2021
20            21            ds6030  summer2021
21            22            ds5110  summer2021
22            23            ds5001  summer2021
23            24            ds6001  summer2021
24            25            ds6011  summer2021
25            26            ds6040  summer2021
26            27            ds6002  summer2021
27            28            ds6050  summer2021
28            29            ds6013  summer2021
29            30            ds6012  summer2021
30            31            ds6003  summer2021
31            32  ds_tech_bootcamp    fall2021
32            33          stat6021    fall2021
33            34            ds5100    fall2021
34            35            cs5012    fall2021
35            36            ds6030    fall2021
36            37  ds_biz_analytics    fall2021
37            38            ds5110    fall2021
38            39            ds5001    fall2021
39            40            ds6001    fall2021
40            41            ds6011    fall2021
41            42            ds6040    fall2021
42            43            ds6002    fall2021
43            44            ds6050    fall2021
44            45            ds6013    fall2021

# Instructor Assignments

In [425]:
instructassign_df = assignments_df[['AssignmentID', 'InstructorName']]

In [426]:
# Function to split instructors
def split_instructors(row):
    instructors = row['InstructorName']
    
    # Replace known typos and split instructors
    if ' & ' in instructors:
        instructors = instructors.replace(' & ', ', ')
    
    # Handle possible multi-instructor entries and typos
    instructors_list = [i.strip() for i in instructors.split(',') if i.strip()]
    
    # Return a DataFrame where each instructor is in a separate row
    return pd.DataFrame({
        'AssignmentID': [row['AssignmentID']] * len(instructors_list),
        'InstructorName': instructors_list
    })


# Apply the function and concatenate results
instructassign_df_ready = pd.concat(instructassign_df.apply(split_instructors, axis=1).tolist(), ignore_index=True)

instructassign_df_ready

    AssignmentID              InstructorName
0              1                 Pete Alonzi
1              2                 Jeffrey Woo
2              3                    Judy Fox
3              4     Panagiotis Apostolellis
4              5                 Mike Porter
5              6                Adam Tashman
6              7            Sree Mallikarjun
7              8                  Jon Kropko
8              9                  Jon Kropko
9             10                Bill Basener
10            11  Luis Felipe Rosado Murillo
11            12                 Rich Nguyen
12            13                Raf Alvarado
13            14            Jason Williamson
14            15  Luis Felipe Rosado Murillo
15            16                  Eric Field
16            17                 Pete Alonzi
17            18                 Jeffrey Woo
18            19                  Nada Basit
19            20               Jeremy Bolton
20            21                Peter Gedeck
21            22                Adam Tashman
22            23            Sree Mallikarjun
23            24                Raf Alvarado
24            25                Raf Alvarado
25            25                Teague Henry
26            26                Teague Henry
27            27              Renee Cummings
28            28                 Rich Nguyen
29            29                  Jon Kropko
30            30              Renee Cummings
31            31            Jason Williamson
32            32                 Pete Alonzi
33            33                 Jeffrey Woo
34            34                    Judy Fox
35            35               Jeremy Bolton
36            36                Bill Basener
37            37               Marc Ruggiano
38            38                Adam Tashman
39            39            Sree Mallikarjun
40            40                Eric Tassone
41            41               Jeremy Bolton
42            41                Peter Gedeck
43            41                Eric Tassone
44            41            Abbas Kazemipour
45            41              Cait Dreisbach
46            41                     Lei Xie
47            42                Bill Basener
48            43              Renee Cummings
49            44                Stephen Baek
50            45                Raf Alvarado
51            45                Teague Henry

# Save Tables to CSV

In [427]:
# Create 'tables' directory if it doesn't exist
if not os.path.exists('tables'):
    os.makedirs('tables')

# Save DataFrames to CSV in 'tables' directory
assignments_df_ready.to_csv('tables/assignments_df_ready.csv', index=False)
instructassign_df_ready.to_csv('tables/instructassign_df_ready.csv', index=False)
instructors_df_ready.to_csv('tables/instructors_df_ready.csv', index=False)
outcome_df_ready.to_csv('tables/outcome_df_ready.csv', index=False)
courses_df_ready.to_csv('tables/courses_df_ready.csv', index=False)